<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<form action="#" th:action="@{/books/update/{id}(id=${book.id})}" th:object="${book}" method="post">
    <div>
        <label>name: <input type="text" th:field="*{name}" id="name" placeholder="name"></label>
        <label>author: <input type="text" th:field="*{author}" id="author" placeholder="author"></label>
        <label>price: <input type="number" step="any" th:field="*{price}" id="price" placeholder="price"></label>
<!--        TODO: date doesnt map to database and throw 404 bad request-->
        <label>publishDate: <input type="date" th:field="*{publishDate}" id="publishDate" placeholder="publishDate"></label>
    </div>
    <div>
        <input type="submit" value="Update">
    </div>
</form>
</body>
</html>